<div class="container-fluid"
    style="background-color: #fff;height: 100%;width:100%;padding: 0;overflow-y: hidden;overflow-x:hidden;">
    <app-header></app-header>
    <br>
    <br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">

                <fa-icon [icon]="['fas', 'home']" size="md" [fixedWidth]="true" style="color:#004A7F;cursor: pointer;">
                </fa-icon>

            <li class="breadcrumb-item" aria-current="page" style="font-weight: 500;color: black;">
                Work In Progress </li>


            <li class="navbar-nav ml-auto" style="margin-bottom:-1rem">
                <div class="row">
                    <div style=" border-radius: .25rem;margin-right:8px;">
                        <fa-icon [icon]="['fas', 'cog']" size="lg" [fixedWidth]="true" style="color:#ED7D31;">
                        </fa-icon>&nbsp;
                    </div>
                </div>
            </li>
        </ol>
    </nav>
    <div style="overflow: auto;height:75vh;width:(100% - 20px);margin-left:10px;margin-right: 10px;box-shadow: 1px 2px 3px 2px #aaaaaa;background-color: #F5F8F8;">
        <div  *ngFor="let w of wip;let i = index;">
            <app-wip-base [data]="w" id="data{{i}}"></app-wip-base>
        </div>
    </div>
    <app-footer></app-footer>
    <router-outlet></router-outlet>
</div>

